@page
@model Cursos.Pages.Course.UpdateCourseModel
@{
}

<div class="container">
    <form method="post">
        <div class="form-group animate__animated animate__backInUp ">
            <label>Unique Identifier:</label>
            <input type="text" asp-for="Course.IdCourse" class="form-control" />
        </div>
        <div class="form-group animate__animated animate__backInUp ">
            <label>Name Course:</label>
            <input type="text" asp-for="Course.Name" class="form-control" />
            <span asp-validation-for="Course.Name" class="text-danger"></span>
        </div>
        <div class="form-group animate__animated animate__backInUp ">
            <label>Quantity Of The Course:</label>
            <input type="number" asp-for="Course.QuantityCourse" class="form-control" />
            <span asp-validation-for="Course.QuantityCourse" class="text-danger"></span>
        </div>
        <input type="submit" class="animate__animated animate__backInUp btn btn-block btn-success mt-3" value="Update Course" />
    </form>
</div>